## Data Preprocessing Project
Mining Manatees : Amandeep Singh, Bryant Galo, Elizabeth Hernandez-Meza , Jasmine Pincombe, Michael Lee Lawler, Xuanxuan Miao, Julian Pulido

In [7]:
import pandas as pd
import numpy as np


#We will be using the real estate valuation data set
#https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set

In [9]:
#https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set
#download dataset and paste below in the parameter
RealEstateData = pd.read_excel("C:\\Users\\Eliza\\Downloads\\real+estate+valuation+data+set\\Real estate valuation data set.xlsx")
RealEstateData

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.666667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250000,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500000,6.5,90.45606,9,24.97433,121.54310,63.9

In [25]:
#check for missing data
#print(RealEstateData.isna())

#since our data has no missing missing values, we will remove random missing values
#creating missing values 

#introduce missing values into dataset by setting values to Nan
RealEstateData.iloc[2,3] = np.nan
RealEstateData.iloc[4,3] = np.nan 
RealEstateData.iloc[6, 3] = np.nan
RealEstateData.iloc[411, 5] = np.nan

print("Original DataFrame:")
print(RealEstateData)

Original DataFrame:
      No  X1 transaction date  X2 house age  \
0      1          2012.916667          32.0
1      2          2012.916667          19.5
2      3          2013.583333          13.3
3      4          2013.500000          13.3
4      5          2012.833333           5.0
..   ...                  ...           ...
409  410          2013.000000          13.7
410  411          2012.666667           5.6
411  412          2013.250000          18.8
412  413          2013.000000           8.1
413  414          2013.500000           6.5

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                  84.87882                             10.0
1                                 306.59470                              9.0
2                                       NaN                              5.0
3                                       NaN                              5.0
4                                       NaN                              5.0
..                                      ...                              ...
409                              4082.01500                              0.0
410                                90.45606                              9.0
411                               390.96960                              7.0
412                               104.81010                              5.0
413                                90.45606                              9.0

     Y house price of unit area                Coord
0                          37.9  24.98298, 121.54024
1                          42.2  24.98034, 121.53951
2                          47.3  24.98746, 121.54391
3                          54.8  24.98746, 121.54391
4                          43.1  24.97937, 121.54245
..                          ...                  ...
409                        15.4  24.94155, 121.50381
410                        50.0   24.97433, 121.5431
411                         NaN  24.97923, 121.53986
412                        52.5  24.96674, 121.54067
413                        63.9   24.97433, 121.5431

[414 rows x 7 columns]

In [24]:
#TODO: Preprocess Data. Arrange steps and document techniques 
print(list(RealEstateData.columns))
#aggregration

#combining attribute langitude and longitude into column called coordinates
RealEstateData["Coord"] = RealEstateData['X5 latitude'].astype(str) + ", " + RealEstateData['X6 longitude'].astype(str)
RealEstateData = RealEstateData.drop("X5 latitude" , axis =1)
RealEstateData = RealEstateData.drop("X6 longitude" , axis =1)

RealEstateData

#sample
#not sampling because our data is not that big

#dimension reduction
#no need; all features are useful.

#feature subset selection
#no need; no redundant feature

#feature creation
#no need for feature creation.

#discretization and binarization
#no need for discretization or binarization?
print()

#attribute transformation

['No', 'X1 transaction date', 'X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'Y house price of unit area', 'Coord']

KeyError: 'X5 latitude'

In [ ]:
#TODO: Split dataset- calculate mean and standard deviation

In [ ]:
#TODO: Compare split datasets and document difference/intuition