## Data Preprocessing Project
Mining Manatees : Amandeep Singh, Bryant Galo, Elizabeth Hernandez-Meza , Jasmine Pincombe, Michael Lee Lawler, Xuanxuan Miao, Julian Pulido

In [2]:
import pandas as pd
import numpy as np


#We will be using the real estate valuation data set
#https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set

In [14]:
#https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set
#download dataset and paste below in the parameter
RealEstateData = pd.read_excel('/Users/user/Documents/RealEstateDataSet.xlsx')
RealEstateData

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.666667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250000,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500000,6.5,90.45606,9,24.97433,121.54310,63.9

In [15]:
#TODO: Preprocess Data. Arrange steps and document techniques 
print(list(RealEstateData.columns))
#aggregration

#combining attribute langitude and longitude into column called coordinates
RealEstateData["Coord"] = RealEstateData['X5 latitude'].astype(str) + ", " + RealEstateData['X6 longitude'].astype(str)
RealEstateData = RealEstateData.drop("X5 latitude" , axis =1)
RealEstateData = RealEstateData.drop("X6 longitude" , axis =1)

RealEstateData

#sample
#not sampling because our data is not that big

#dimension reduction
#no need; all features are useful.

#feature subset selection
#no need; no redundant feature

#feature creation
#no need for feature creation.

#discretization and binarization
#no need for discretization or binarization?
print()

#attribute transformation

['No', 'X1 transaction date', 'X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'X5 latitude', 'X6 longitude', 'Y house price of unit area']

In [34]:
#TODO: Split dataset- calculate mean and standard deviation
from sklearn.model_selection import train_test_split
if 'Coord' in RealEstateData.columns:
    RealEstateData[['Latitude', 'Longitude']] = RealEstateData['Coord'].str.split(',', expand=True)
    RealEstateData['Latitude'] = RealEstateData['Latitude'].astype(float)
    RealEstateData['Longitude'] = RealEstateData['Longitude'].astype(float)
    RealEstateData = RealEstateData.drop(columns=['Coord'])
else:
    print("The 'Coord' column does not exist.")

part1, part2 = train_test_split(RealEstateData, test_size=0.5, random_state=42)

stats_part1 = part1.describe().loc[['mean', 'std']]
stats_part2 = part2.describe().loc[['mean', 'std']]

stats_part1, stats_part2

The 'Coord' column does not exist.

(              No  X1 transaction date  X2 house age  \
 mean  216.024155          2013.170692     16.999034
 std   117.295844             0.283224     11.147193

       X3 distance to the nearest MRT station  X4 number of convenience stores  \
 mean                             1068.728642                         4.115942
 std                              1219.262138                         3.010675

       Y house price of unit area   Latitude   Longitude
 mean                   38.349275  24.969909  121.533895
 std                    14.539808   0.012716    0.014970  ,
               No  X1 transaction date  X2 house age  \
 mean  198.975845          2013.127214     18.426087
 std   121.655907             0.279756     11.615695

       X3 distance to the nearest MRT station  X4 number of convenience stores  \
 mean                             1099.042736                         4.072464
 std                              1306.335341                         2.886118

       Y house price of unit area   Latitude   Longitude
 mean                   37.611111  24.968152  121.532827
 std                    12.629013   0.012063    0.015733  )

In [4]:
#TODO: Compare split datasets and document difference/intuition